project.lock.json
bin/
bin-sn/
obj/
*.so
*.dylib
*.csproj.user
*.xproj.user
.vs
.vscode
todo.txt
.cache
src/Confluent.Kafka/runtimes
Properties
packages/
doc/api/
doc/_site/
doc/src
UpgradeLog*.htm
*~
\#*
core
